@import "./../bootstrap/bootstrap";
@import "../bootstrap/responsive";
@import "../font-awesome-more/font-awesome";

/* ==================================================== */
/* Project Styles                                       */
/* ==================================================== */

.domino {
    width: 150px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid #000;
    background-color: #c0c0c0;
    position: relative;
    display: inline-block;
    -webkit-backface-visibility: hidden;
}

.domino .high,
.domino .low {
    position: absolute;
    width: 100%;
    height: 124px;
    margin: 0px;
}

.domino .low {
    top: 125px;
}

.domino hr {
    color: #000;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 125px;
    width: 147px;
}

.domino .dot {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #000;
}

.domino .front  { transform: rotateY(   0deg); }
.domino .back   { transform: rotateX( 180deg); }
.domino .right  { transform: rotateY(  90deg); }
.domino .left   { transform: rotateY( -90deg); }
.domino .top    { transform: rotateX(  90deg); }
.domino .bottom { transform: rotateX( -90deg); }

.domino .front  { transform: rotateY(   0deg ) translateZ( 100px ); }
.domino .back   { transform: rotateX( 180deg ) translateZ( 100px ); }
.domino .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
.domino .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
.domino .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
.domino .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }

.dot-x (@n) when (@n=0),(@n=2),(@n=4) {
    left: 25px;
}

.dot-x (@n) when (@n=1),(@n=3),(@n=5) {
    right: 25px;
}

.dot-x (@n) when (@n=6) {
    left: 60px;
}

.dot-y (@n) when (@n < 2) {
    top: 12px;
}

.dot-y (@n) when (@n=2),(@n=3),(@n=6) {
    top: 47px;
}

.dot-y (@n) when (@n = 4),(@n=5) {
    bottom: 12px;
}

.dot-position (@n:0) {
    .dot-x(@n);
    .dot-y(@n);
}

.dot-0 {
    .dot-position(0);
}

.dot-1 {
    .dot-position(1);
}

.dot-2 {
    .dot-position(2);
}
.dot-3 {
    .dot-position(3);
}
.dot-4 {
    .dot-position(4);
}
.dot-5 {
    .dot-position(5);
}
.dot-6 {
    .dot-position(6);
}

.rotate (@deg) {
    transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -webkit-transform: rotate(@deg);
}

.rotate-90 {
    .rotate(90deg);
}

.rotate-180 {
    .rotate(180deg);
}

.rotate-270 {
    .rotate(270deg);
}

.scale (@n) {
    transform: scale(@n);
    -ms-transform: scale(@n);
    -webkit-transform: scale(@n);
}

.scale-half {
    .scale(.5);
}

/* 3D Domino CSS */
/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ 
#tridiv {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 375%;
}
.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .domino styles */
.domino {
  transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:.375em;
  margin:-0.1875em 0 0 -1em;
}
.domino .ft {
  transform:translateZ(0.5em);
}
.domino .bk {
  transform:translateZ(-0.5em) rotateY(180deg);
}
.domino .rt, .domino .lt {
  width:1em;
  height:.375em;
}
.domino .tp, .domino .bm {
  width:2em;
  height:1em;
}
.domino .face {
  background-color:#FFFFFF;
}
.domino .ft {
  width:1.75em;
  margin-left:.125em;
}
.domino .bk {
  width:1.75em;
  margin-left:-0.125em;
}
.domino .rt, .domino .lt {
  width:0.75em;
}
.domino .tp, .domino .bm, .domino .tp .photon-shader, .domino .bm .photon-shader {
  border-radius:.125em;
}
.domino .cr {
  width:.125em;
  left:0.0625em;
}
.domino .cr-0 {
  transform: translate3D(1.75em, 0, 0.375em);
}
.domino .cr-1 {
  transform: translate3D(1.75em, 0, -0.375em);
}
.domino .cr-2 {
  transform: translate3D(0, 0, -0.375em);
}
.domino .cr-3 {
  transform: translate3D(0, 0, 0.375em);
}
.domino .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 0.1em);
}
.domino .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 0.1em);
}
.domino .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 0.1em);
}
.domino .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, 0.1em);
}
.domino .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, 0.1em);
}
.domino .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, 0.1em);
}
.domino .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, 0.1em);
}
.domino .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, 0.1em);
}
.domino .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, 0.1em);
}
.domino .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, 0.1em);
}
.domino .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, 0.1em);
}
.domino .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, 0.1em);
}
.domino .side {
  width:0.09198729810778067em;
}
